[Desktop Entry]
Version=1.0
Type=Application
Name=Steam Shortcut Manager
Comment=Manage Steam non-Steam game shortcuts and artwork
Exec=steam-shortcut-manager --help
Icon=io.github.liberavia.steamshortcutmanager
Terminal=true
Categories=Utility
Keywords=steam;shortcut;manager;games;flatpak;linux;
StartupNotify=false
